<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>我的账号</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="identity">
    <div class="person_list_left" style="width: 40%">
        <img src="images/avatar.jpg" alt="头像" class="img_comment img_identity">
    </div>
    <div class="person_list_right" style="width:40%;">
        <div style="margin-top: 13%">
            <p class="font_img" style="margin: 0;">木子流行0241</p>
            <p style="margin-top: 5%">135*****986</p>
        </div>
    </div>
</div>
<div class="nav_lab">
    <div class=" "></div>
</div>
<br>

<div class="activity_content">
    <div class=" activity_title">
        <h5 style="margin:0"><b>自我介绍</b></h5>
    </div>
    <hr style="margin-top:0">
    <div class="container">
        <p class="font_12">
            即将踏入职场，我很迷茫。希望通过英领汇平台，提高自己的职场素养。
            提升自己的职业化水平的相关指引。为踏入社会铺更好的路。
        </p>
    </div>
</div>



</body>
</html>