<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>菁英俱乐部</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<div class=" ">
    <img src="images/image.jpg" class="img_haibao">
</div>
<div class="nav_title activity_title">
    <h5 style="margin:0"><b>职场预演项目第三站</b></h5>
</div>

<div class="activity_date">
    <div class="pay_button">
        <div class="pay_button_left">
            <p class="font_date">2016-05-24  09:00~18:00</p>
        </div>

        <div class="pay_button_right" style="background-color: #59C313">
            <p class="font_pay">
                <a class="link" href="dateBar_stu_step4.html">报名</a>
            </p>
        </div>
    </div>
</div>


<div class="activity_content">
    <div class=" activity_title">
        <h5 style="margin:0"><b>主题描述</b></h5>
    </div>
    <hr style="margin-top:0">
    <div class="container">
        <p class="font_12">
            “职场预演”是以职场软性技能培训为产品切入点，
            汇菁英于我们的平台，为职场菜鸟及大学生给予提升职业化水平的相关指引，
            跟踪个人从大学时代开始的学习与发展经历，为企业提供更全面而准确的个人成长数据。
        </p>
    </div>
</div>


<div class="activity_content">
    <div class=" activity_title">
        <h5 style="margin:0"><b>时间流程</b></h5>
    </div>
    <hr style="margin-top:0">
    <div class="container">
        <div class="container ">
            <div class="acticle_tag acticle_tag_purple" style="margin:0 auto;width:100%;text-align: center">
                <p class="font_tag">09:00
                    <p class="font_song" > 开篇切入主题</p>

            </div>
            <div align="center">
                <span class="glyphicon glyphicon-arrow-down" ></span>
            </div>
        </div>

        <div class="container ">
            <div class="acticle_tag acticle_tag_yellow" style="margin:0 auto;width:100%;text-align: center">
                <p class="font_tag">12:00
                <p class="font_song" > 职场上的餐桌</p>

            </div>
            <div align="center">
                <span class="glyphicon glyphicon-arrow-down" ></span>
            </div>
        </div>


        <div class="container ">
            <div class="acticle_tag acticle_tag_blue" style="margin:0 auto;width:100%;text-align: center">
                <p class="font_tag">14:00
                <p class="font_song" > 面试官与Offer</p>
            </div>
            <div align="center">
                <span class="glyphicon glyphicon-arrow-down" ></span>
            </div>
        </div>

        <div class="container ">
            <div class="acticle_tag acticle_tag_purple" style="margin:0 auto;width:100%;text-align: center">
                <p class="font_tag">16:00
                <p class="font_song" > 面试经验总结</p>
            </div>

        </div>

    </div>
</div>

<div class="activity_content">
    <div class=" activity_title">
        <h5 style="margin:0"><b>活动回顾</b></h5>
    </div>
    <hr style="margin-top:0">
    <div class="container">
        <div id="aleadin-Carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#aleadin-Carousel" data-slide-to="0" class="active"></li>
                <li data-target="#aleadin-Carousel" data-slide-to="1"></li>
                <li data-target="#aleadin-Carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" align="center">
                <div class="item active">
                    <a href=" ">
                        <img src="images/a.jpg" class="img_slide" alt="First slide image"/>
                    </a>
                </div>
                <div class="item">
                    <a href=" ">
                        <img class="img_slide" src="images/b.jpg" alt="Second slide image"/>
                    </a>
                </div>
                <div class="item">
                    <a href=" ">
                        <img class="img_slide" src="images/c.jpg" alt="Third slide image"/>
                    </a>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#aleadin-Carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#aleadin-Carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<div class="activity_content">
    <div class=" activity_title">
        <h5 style="margin:0"><b>评论</b></h5>
    </div>
    <hr style="margin-top:0">
    <div class="container">
        <div class="person_list">
            <div class="person_list_left">

                <img src="images/Lucia.png" style="margin-top: 10px" alt="头像" class="img_comment">
            </div>
            <div class="person_list_right">
                <div class="asd">
                    <p class="font_img" style="margin: 0px;">木子流行0241</p>

                    <h5 class="font_12" style="margin: 5px;">p2p行业营销在品牌扩散不够，经费预算不足的前提下，如何形成病毒性传播</h5>
                </div>

                <span class="font_time" style="text-indent: 0em">08-25 18:13</span>
        <span class="font_green right" style="font-weight: bold"></span>回复 |
        <span class="glyphicon glyphicon-thumbs-up" >80</span>
            </div>
        </div>

    </div>

</div>





</body>
</html>