<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="Aleadin icon" href="images/icon-title.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">


    <title>互联网时代下的商家</title>
</head>
<body>
<br>
        <div class="container">
            <div class=" ">
                <h4 style="margin:0px;"><b>互联网时代下的商家</b></h4>
            </div>
            <div class="acticle_tag acticle_tag_purple">
                <p class="font_tag">创业经验</p>
            </div>
            <div style="display: inline-block;font-size: 10px">
                <p class=" "><span class="glyphicon glyphicon-user"></span>Wally·2015.09.19</p>
            </div>
            <div class="article_date">
                <p>133人看过</p>
            </div>
            <hr style="margin: 0">
        </div>
<div class="container">
    <article>
        <h5 style="color: #00af4e;"><b>本文作者：臻龙</b></h5>
        <h5 style="color: #00af4e;"><b>转自：简书</b></h5>
        <h5 style="color: #00af4e;"><b>简单来谈一下，为什么软件开发项目中，需要需求文档这么个东西？</b></h5>
        <p class="font_content">
            开发软件系统最为困难的部分就是准确说明开发什么。
            最为困难的概念性工作便是编写出详细技术需求，
            这包括所有面向用户、面向机器和其它软件系统的接口。
            同时这也是一旦做错，将最终会给系统带来极大损害的部分，
            并且以后再对它进行修改也极为困难。
        </p>
    </article>
    <p class="font_content"><b style="color: #00af4e;">登录</b>后即可评论</p>
    <textarea class="textarea" maxlength="250" placeholder="你怎么看？"></textarea>
    <div class="article_date"  style="margin-top: 0px;">
        <button class="btn-success">提交评论</button>
    </div>

</div>
<div class="container">
    <p class="font_song">相关推荐</p>
</div>

<div class="bg_dark">
    <h5 style="display:inline-block;"><b>啥？这三本牛逼的书居然讲的是同一件事...</b></h5>
    <span class="glyphicon glyphicon-chevron-right" style="float: right;margin-top: 10px"></span>
</div>
<div class="bg_dark">
    <h5 style="display:inline-block;"><b>除了做大饼，创业的还最需要做什么？</b></h5>
    <span class="glyphicon glyphicon-chevron-right" style="float: right;margin-top: 10px"></span>
</div>


</body>
</html>