<div>
    <header class="header bg_header">
		<div class="header_page">
			<div class="container">
				<h3 align="center" ng-bind-template="{{data.pageTitle}}"></h3>
			</div>
		</div>
	</header>
</div>
<div class="container-fluid">
      <div align="center">
		<img ng-src="{{data.imgPath}}" class="img-responsive"
			alt="Responsive image"></img>
	</div>
	<br/>
	<div>
		<div class="container bg-white">
			<h4 class="font_blue">课程名</h4>
			<span ng-bind-template="{{data.title}}"></span>
		</div>
	</div>
	<br/>
	<div>
		<div class="container bg-white">
			<h4 class="font_blue">课程介绍</h4>
			<span ng-bind-template="{{data.introduce}}"></span>
		</div>
	</div>
	<br/>
	<div>
		<div class="container bg-white">
			<p class="text-primary" ng-bind-template="讲课地点： {{data.address}}"></p>
			<p class="text-primary" ng-bind-template="讲课时间： {{data.startTime}}"></p>
		</div>
	</div>
	<br/>
	<div>
		<div class="container bg-white">
			<h4 class="font_blue">导师介绍</h4>
			<div class="media">
				<div class="media-left media-middle">
					<a href="#"> <img class="media-object img-circle"
						ng-src="{{data.authImgPath}}" alt="Generic placeholder image"></img>
					</a>
				</div>
				<div class="media-body  media-middle">
					<h4 class="media-heading"
						ng-bind-template="{{data.authorName}}  {{data.company}} {{data.position}}"></h4>
				</div>
			</div>
		
		<ul style="list-style:none;">
			<div ng-repeat="authIntroduce in data.authIntroduces">
				<li ng-bind-template="{{authIntroduce}}"></li>
			</div>
		</ul>
		</div>
	</div>
	<br/>
	<div class="bs-callout bs-callout-info white" id="callout-overview-not-both">
		<h4>相关链接</h4>
	</div> 
	<div class="media bg-white" ng-repeat="ec in data.relationCourse">
		<div class="media-left media-middle">
			<a href="{{ec.link}}"> <img class="media-object img-thumbnail"
				ng-src="{{ec.thumbnailPath}}" alt="Generic placeholder image"></img>
			</a>
		</div>
		<div class="media-body  media-middle">
			<h4 class="media-heading font_blue">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span
					ng-bind-template="  {{ec.authorName}}    {{ec.company}}    {{ec.position}}"></span>
			</h4>
			<h4 class="strong" ng-bind-template="{{ec.title}}"></h4>
			<p ng-bind-template="{{ec.introduce}}"></p>
			<h4 class="strong" ng-bind-template="讲课地点  {{ec.address}}"></h4>
			<h4 class="strong" ng-bind-template="讲课时间  {{ec.startTime}}"></h4>
		</div>
	</div>
</div>
    <br></br>
    <br></br>
    <br></br>