<div>
    <header class="header bg-primary">
      <div class="page-header">
        <div class="container">
            <h1 align = "center" ng-bind-template="{{data.pageTitle}}"></h1>
        </div>
      </div>
    </header>
</div>
<div class="container-fluid">
      <div class="row" align = "center">
        <img ng-src="{{data.imgPath}}" class="img-responsive" alt="Responsive image"></img>
     </div>
      
      <div class="row">
         <h4>课程名</h4>
         <span ng-bind-template="{{data.title}}"></span>
      </div>
      <div class="row">
         <h4>课程介绍</h4>
         <span ng-bind-template="{{data.introduce}}"></span>
      </div>
      <div class="row">
          <p class="text-primary" ng-bind-template="讲课地点： {{data.address}}"></p>
          <p class="text-primary" ng-bind-template="讲课时间： {{data.startTime}}"></p>
      </div>
      <div class="row">
         <h4>导师介绍</h4>
         <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object img-circle" ng-src="{{data.authImgPath}}" alt="Generic placeholder image"></img>
              </a>
            </div>
            <div class="media-body  media-middle">
              <h4 class="media-heading" ng-bind-template="{{data.authorName}}  {{data.company}} {{data.position}}"></h4>
            </div>
          </div>
      </div>
      <div class="row">
      <ul>
         <div ng-repeat="authIntroduce in data.authIntroduces">
      		<li ng-bind-template="{{authIntroduce}}"></li>
      	 </div>
      </ul>
      </div>
      <div class="bs-callout bs-callout-info" id="callout-overview-not-both">
        <h5>相关链接</h5>
      </div>
    <div class="media" ng-repeat="ec in data.relationCourse">
            <div class="media-left media-middle">
              <a href="{{ec.link}}">
                <img class="media-object img-thumbnail" ng-src="{{ec.thumbnailPath}}" alt="Generic placeholder image"></img>
              </a>
            </div>
            <div class="media-body  media-middle">
              <h3 class="media-heading text-primary">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span ng-bind-template="  {{ec.authorName}}    {{ec.company}}    {{ec.position}}"></span>
              </h3>
              <h4 class = "strong" ng-bind-template="{{ec.title}}"></h4>
              <p ng-bind-template="{{ec.introduce}}"></p>
              <h4 class = "strong" ng-bind-template="讲课地点  {{ec.address}}"></h4>
              <h4 class = "strong" ng-bind-template="讲课时间  {{ec.startTime}}"></h4>
            </div>
      </div>
</div>
    <br></br>
    <br></br>
    <br></br>