<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>大咖课程</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <div class="navbar-default navbar-static-top">
        <p class="font_white">评论</p>
    </div>
</header>

<div class="person_list" >
    <div class="person_list_left">

        <img src="images/Sophie.png" style="margin-top: 10px" alt="头像" class="img_comment">
    </div>
    <div class="person_list_right">
        <div class="asd">
            <p class="font_12" style="margin: 5px;"><b>木子流行0241</b></p>

            <p class="font_12" style="margin: 5px;">p2p行业营销在品牌扩散不够，经费预算不足的前提下，如何形成病毒性传播</p>
        </div>

        <span class="font_time" style="margin-left: 5px;">08-25 18:13</span>
        <span class="font_green " style="font-weight: bold;float:right;">回复 |
        <span class="glyphicon glyphicon-thumbs-up" >80</span></span>
    </div>
</div>


<div class="person_list" >
    <div class="person_list_left">

        <img src="images/Chester.png" style="margin-top: 10px" alt="头像" class="img_comment">
    </div>
    <div class="person_list_right">
        <div class="asd">
            <p class="font_12" style="margin: 5px;"><b>木子流行0241</b></p>

            <p class="font_12" style="margin: 5px;">p2p行业营销在品牌扩散不够，经费预算不足的前提下，如何形成病毒性传播</p>
        </div>

        <span class="font_time" style="margin-left: 5px;">08-25 18:13</span>
        <span class="font_green " style="font-weight: bold;float:right;">回复 |
        <span class="glyphicon glyphicon-thumbs-up" >80</span></span>
    </div>
</div>

<div class="person_list" >
    <div class="person_list_left">

        <img src="images/avatar.jpg" style="margin-top: 10px" alt="头像" class="img_comment">
    </div>
    <div class="person_list_right">
        <div class="asd">
            <p class="font_12" style="margin: 5px;"><b>木子流行0241</b></p>

            <p class="font_12" style="margin: 5px;">p2p行业营销在品牌扩散不够，经费预算不足的前提下，如何形成病毒性传播</p>
        </div>

        <span class="font_time" style="margin-left: 5px;">08-25 18:13</span>
        <span class="font_green " style="font-weight: bold;float:right;">回复 |
        <span class="glyphicon glyphicon-thumbs-up" >80</span></span>
    </div>
</div>

<div class="navbar-fixed-bottom bg-white">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="看了课程有疑问？快说出来吧~">
        <span class="input-group-addon" style="color: #00af4e;font-weight: bold;font-size: 18px">发表</span>

    </div>
</div>







</body>
</html>