<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>约汇吧</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
</head>
<body>
<header>
    <div class="navbar-default navbar-static-top">
        <h3>约汇吧</h3>
    </div>
</header>

<div>
    <div class="row">
        <div class="col-md-12 first">
            <img class="ing" src="images/list-3.png">
        </div>
        <br>

        <div class="container">
            <h3 style="color: #000000">收到dennis的预约</h3>
            <div class="topic">
                <div class="box">
                    <h3 style="color: #000000">从业与创业，帮你明晰职涯规划</h3>
                </div>
                <div class="box2">
                    <h5>300元/次,约两小时</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-md-12">
            <div class="container">

                <h4>请选择约见时段</h4>
                <div class="date">
                    <div class="sign">
                        <p class="font_sign">1</p>
                    </div>
                    <div class="date_content">
                        <div class="time">
                            <div class="input-group input-group-lg">
                                <span class="input-group-time">时间：</span>
                                <input type="date" class="ipt-area">
                            </div>
                        </div>
                        <div class="address">
                            <div class="input-group input-group-lg">
                                <span class="add input-group-time ">地点：</span>
                                <input type="text" class="add-area" placeholder="请输入约见地点.">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="date">
                    <div class="sign">
                        <p class="font_sign">2</p>
                    </div>
                    <div class="date_content">
                        <div class="time">
                            <div class="input-group input-group-lg">
                                <span class="input-group-time">时间：</span>
                                <input type="date" class="ipt-area">
                            </div>
                        </div>
                        <div class="address">
                            <div class="input-group input-group-lg">
                                <span class="add input-group-time ">地点：</span>
                                <input type="text" class="add-area" placeholder="请输入约见地点.">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                </div>
                <div class="date">
                    <div class="sign">
                        <p class="font_sign">3</p>
                    </div>
                    <div class="date_content">
                        <div class="time">
                            <div class="input-group input-group-lg">
                                <span class="input-group-time">时间：</span>
                                <input type="date" class="ipt-area">
                            </div>
                        </div>
                        <div class="address">
                            <div class="input-group input-group-lg">
                                <span class="add input-group-time ">地点：</span>
                                <input type="text" class="add-area" placeholder="请输入约见地点.">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h4>请选择支付方式</h4>

    <div class="pay_type">

    </div>

</div>


<br>

<div class="pay_button">
    <div class="pay_button_left">
        <p class="font_all">合计：</p><p class="font_money">¥300元</p>
        </div>
    <div class="pay_button_right"><p class="font_pay">付款</p> </div>
</div>



</body>
</html>