<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"></meta>
    <title>约汇吧</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/css/datebar.css" rel="stylesheet"></link>
    <link rel="Aleadin icon" href="/images/icon-title.png"></link>
</head>
<body>

<br></br>
<div class="person_list">
    <div class="person_list_left">
        <img src="/images/Sophie.png" alt="导师照片" class="person_fang"></img>
    </div>
    <div class="person_list_right">
        <div class="asd">
            <h4 class="person_title">从业与创业，帮你明晰职涯规划</h4>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span ><p class="font_martop">江美仪 艾英领 CTO</p></span>
            <h5 style="margin: 0">艾英领CEO 创业、管理达人</h5>
        </div>
    </div>
</div>
<div class="person_list">
    <div class="person_list_left">
        <img src="/images/Chester.png" alt="导师照片" class="person_fang"></img>
    </div>
    <div class="person_list_right">
        <div class="asd">
            <h4 class="person_title">如何成为一名合格的系统架构师</h4>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span ><p class="font_martop">陈奕迅 艾英领 技术总监</p></span>
            <h5 style="margin: 0">艾英领技术总监 技术达人</h5>
        </div>
    </div>
</div>
<div class="person_list">    <div class="person_list_left">

        <img src="/images/Sophie.png" alt="导师照片" class="person_fang"></img>
    </div>
    <div class="person_list_right">
        <div class="asd">
            <h4 class="person_title">如何成为一名合格的系统架构师</h4>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span ><p class="font_martop">江美仪 艾英领 CEO</p></span>
            <h5 style="margin: 0">艾英领CEO  创业、管理达人</h5>
        </div>
    </div>
</div>
<div class="person_list">
    <div class="person_list_left">
        <img src="/images/Sophie.png" alt="导师照片" class="person_fang"></img>
    </div>
    <div class="person_list_right">
        <div class="asd">
            <h4 class="person_title">如何成为一名合格的系统架构师</h4>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span ><p class="font_martop">江美仪 艾英领 CEO</p></span>
            <h5 style="margin: 0">艾英领CEO 创业、管理达人</h5>
        </div>
    </div>
</div>


</body>
</html>