<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>约汇吧</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
</head>
<body>
<header>
    <div class="navbar-default navbar-static-top">
        <h3>约汇吧</h3>
    </div>
</header>
<div class="list">
    <div class="first">
        <img class="ing" src="images/list-4.png">
    </div>
    <div class="topic">
        <h3 style="color: #000000;">等待约见</h3>
    </div>
</div>

<div class="waiting">

    <div class="row">
        <div class="col-md-12 ">

            <div class="title_teacher">
                <figure>
                    <img src="images/avatar.jpg" class="img_teacher" alt="导师头像"/>
                    <figcaption>
                        <h4 style="color: #ffffff">何蓉蓉</h4>
                    </figcaption>
                </figure>
            </div>

            <div class="title_middle">
                <p class="font_wait">从业与创业</p>
                <P class="font_wait">帮你明晰职业规划</P>
                <p class="font_waiting"> >>>&nbsp;等待约见  <<<</p>
            </div>

            <div class="title_student">
                <figure>
                    <img src="images/avatar.jpg" class="img_teacher" alt="学员头像"/>
                    <figcaption>
                        <h4 style="color: #ffffff">叶俊堂</h4>
                    </figcaption>
                </figure>
            </div>

            <div class="clean"></div>

        </div>
    </div>
</div>

<div class="date_inf">
    <h4>约见时段</h4>
    <div class="date">
        <div class="sign">
            <p class="font_sign"></p>
        </div>
        <div class="date_content">
            <div class="time">
                <div class="input-group input-group-lg">
                    <span class="input-group-time">时间：</span>
                    <input type="date" class="ipt-area">
                </div>
            </div>
            <div class="address">
                <div class="input-group input-group-lg">
                    <span class="add input-group-time ">地点：</span>
                    <input type="text" class="add-area" placeholder="请输入约见地点.">
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>


<div class="container">
    <div class="tips">
        <p class="font_tips">欢迎使用英领汇约见服务。我们建议</p>

        <p>1.提前与对方沟通交谈内容</p>

        <p>2.如导师无特殊说明，所有约见均为一对一面聊。建议选择咖啡馆等公共空间座位约见地点。</p>

        <p>3.准时到达。约见过程中若发生消费，与对方AA。</p>
    </div>
</div>



</body>
</html>