<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>约汇吧</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
</head>
<body>
<header>
    <div class="navbar-default navbar-static-top">
        <h3 class="font_white">约汇吧</h3>
    </div>
</header>
<div class="list">
    <div class="first">
        <img class="ing" src="images/list-5.png">
    </div>
</div>
<br>
<h3 style="text-align: center">学员评论</h3>
<div class="discuss_title">
    <div class="row">
        <div class="col-md-12">
            <div class="title_teacher">
                <figure>
                    <img src="images/avatar.jpg" class="img_teacher"  alt="学员头像"/>
                    <figcaption>
                        <p class="font_teacher"><a class="link" href="person.html">何蓉蓉</a></p>
                    </figcaption>
                </figure>
            </div>
            <div class="title_right">
                <h4 style="color: #fff">从业与创业，帮你明晰职涯规划</h4>
            </div>

        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="teacher_inf">
        <p>约见满意度：</p>
        <img  id="img1" src="images/star.png" class="star">
        <img  id="img2" src="images/star.png" class="star">
        <img  id="img3" src="images/star.png" class="star">
        <img  id="img4" src="images/star.png" class="star">
        <img  id="img5" src="images/star.png" class="star">
    </div>
    <br>
    <div class="question" >
        <p>通过这次约见，我获益匪浅！！</p>
    </div>
</div>
<br>
<br>
<br>

</body>
</html>