<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>约汇吧</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.cityselect.js"></script>


</head>
<body>
<header>
    <div class="navbar-default navbar-static-top">
        <h3 class="font_white">约汇吧</h3>
    </div>
</header>
<div class="list">
    <img class="ing" src="images/list-2.png">
</div>
<br>

<div class="container">
    <h3 style="text-align: center">等待dennis确认</h3>

    <div class="topic">

        <h4 style="color: #000000">从业与创业，帮你明晰职涯规划</h4>

        <p style="text-align: right">300元/次,约两小时</p>

    </div>
</div>
<div class="teacher">
    <div class="teacher_inf">
        <h4 class="font_blue">导师信息</h4><hr>
        <div class="information">
            <p>我是艾英领企业管理咨询的创始人，艾英领信息科技有限公司
                的创办者。
            </p>
            <p>从事猎头、培训、喜讯等人力资源工作近12年。拥有世界五百
                强公司管理经验，是人力资源咨询领域的资深人士，目前的身
                份是连续创业者。</p>
        </div>
    </div>
</div>
<br>
<div class="teacher">
    <div class="teacher_inf">
        <h4 class="font_blue">导师话题</h4>
        <hr>
        <div>
            <div style="display: inline-block;">
                <p class="font-topic">从业与创业，帮你明晰职涯规划</p>
            </div>
            <div class="right"><p>约300元/次</p></div>
            <p>未来的道路改如何走，这是个考验人的持久问题，相信每个人
                在各个阶段都或多或少的有所迷茫。择业时，苦恼选择喜欢的
                工作还是专业相关的；工作后，会思考该辞职还是留下来 . . .</p>
        </div>
        <div class="clean"></div>
    </div>
</div>
<br>
<div class="container">
    <div class="tips">
        <p class="font_tips">欢迎使用英领汇约见服务。我们建议</p>
        <p>1.提前与对方沟通交谈内容</p>
        <p>2.如无说明均为一对一面聊。建议选择公共场所作为约见地点。</p>
        <p>3.准时到达。约见过程中若发生消费，与对方AA。</p>
    </div>
</div>
<br>
</body>
</html>