<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"></meta>
    <title>约汇吧</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/css/datebar.css" rel="stylesheet"></link>
    <link rel="Aleadin icon" href="/images/icon-title.png"></link>
</head>
<body>

<div class="list">
    <img class="ing" src="/images/list-1.png"></img>
</div>
<br></br>
<div class="container">
    <div class="content_date">
        <h3 style="text-align: center">向何蓉蓉预约</h3>
        <div class="topic">
            <h3 style="text-align: center;font-size: 20px">从业与创业，帮你明晰职涯规划</h3>
        </div>
        <h4 class="font_blue">你要请教的话题</h4>
        <textarea class="question" maxlength="250" placeholder="详细描述问题有助于导师有的放矢，也能得到导师更迅捷的答复。"></textarea>
        <h4 class="font_blue">你的目前状况</h4>
        <textarea class="question" maxlength="250" placeholder="详细的介绍能让导师了解你，提供更针对性的帮助。"></textarea>
    </div>
</div>



<br></br>
<div class="btn navbar-fixed-bottom">
    <h3 class="font_white" style="margin: 0px;">
        <a class="link" href="dateBar_stu_step2.html">提交</a>
    </h3>
</div>


</body>
</html>