<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"></meta>
    <title>约汇吧</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="css/datebar.css" rel="stylesheet"></link>
    <link rel="Aleadin icon" href="images/icon-title.png"></link>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.cityselect.js"></script>
</head>
<body>

<div class="list">
    <div class="first">
        <img class="ing" src="images/list-3.png"></img>
    </div>
    <div class="topic">
        <h3 style="text-align: center">等待学员付款...</h3>
    </div>
</div>

<div class="discuss_title">
    <div class="row">
        <div class="col-md-12">
            <div class="title_teacher">
                <figure>
                    <img src="images/avatar.jpg" class="img_teacher" alt="学员头像"></img>
                    <figcaption>
                        <p class="font_teacher"><a class="link" href="person.html">何蓉蓉</a></p>
                    </figcaption>
                </figure>
            </div>
            <div class="title_right">
                <h3 style="color: #fff">从业与创业,帮你明晰职涯规划</h3>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h4 class="font_blue">约见时段</h4>
    <div class="date">
        <div class="date_content">
            <div class="time">
                <div class="input-group  ">
                    <span class="input-group-time">时间：</span> <p>2015年12月19日&nbsp;14:00</p>
                </div>
            </div>
            <div class="address">
                <div class="input-group input-group-lg">
                    <span class="add input-group-time ">地点：</span>
                    <div id="city">
                        <p>广东省广州市天河区</p>
                        <p>中山大道西183号天河城广场</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="container">
    <h4 class="font_blue">学员请教的话题</h4>
    <div class="question"><p>详细描述问题有助于导师有的放矢，也能得到导师更迅捷的答复。</div>
    <h4 class="font_blue">学员的目前状况</h4>
    <div class="question"><p>详细的介绍能让导师了解你，提供更针对性的帮助。</p></div>
</div>
<br>
</body>
</html>