<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"></meta>
    <title>约汇吧</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="css/datebar.css" rel="stylesheet"></link>
    <link rel="Aleadin icon" href="images/icon-title.png"></link>
    <script type="text/javascript" src="js/jquery.1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.cityselect.js"></script>
</head>
<body>

<div class="list">
    <div class="first">
        <img class="ing" src="images/list-4.png"></img>
    </div>
    <div class="topic">
        <h3 style="text-align: center">等待约见</h3>
    </div>
</div>

<div class="waiting">
    <div class="row">
        <div class="col-md-12 ">
            <div class="title_teacher">
                <figure>
                    <img src="images/avatar.jpg" class="img_teacher" alt="导师头像"></img>
                    <figcaption>
                        <p class="font_title"><a class="link" href="person.html">何蓉蓉</a></p>
                        <p class="font_topic"><a class="link" href="test.html">13832375410</a></p>
                    </figcaption>
                </figure>
            </div>

            <div class="title_middle">
                <p class="font_wait">从业与创业</p>
                <P class="font_wait">帮你明晰职业规划</P>
                <p class="font_waiting">····&nbsp;等待约见  ···· </p>
            </div>

            <div class="title_student">
                <figure>
                    <img src="images/avatar.jpg" class="img_teacher" alt="学员头像" ></img>
                    <figcaption>
                        <p class="font_title"><a class="link"  href="person.html">叶俊堂</a></p>
                        <p class="font_topic"><a class="link" href="test.html">13832375410</a></p>
                    </figcaption>
                </figure>
            </div>
            <div class="clean"></div>
        </div>
    </div>
</div>

<div class="container">
    <h4 class="font_blue">约见时段</h4>
    <div class="date">
        <div class="date_content">
            <div class="time">
                <div class="input-group  ">
                    <span class="input-group-time">时间：</span> <p>2015年12月19日&nbsp;14:00</p>
                </div>
            </div>
            <div class="address">
                <div class="input-group input-group-lg">
                    <span class="add input-group-time ">地点：</span>
                    <div id="city">
                        <p>广东省广州市天河区</p>
                    </div>
                    <p>中山大道西183号天河城广场</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<br>
<div class="container">
    <div class="tips">
        <p class="font_tips">欢迎使用英领汇约见服务。我们建议</p>
        <p>1.提前与对方沟通交谈内容</p>
        <p>2.如导师无特殊说明，所有约见均为一对一面聊。建议选择咖啡馆等公共空间座位约见地点。</p>
        <p>3.准时到达。约见过程中若发生消费，与对方AA。</p>
    </div>
</div>
<br>

</body>
</html>