<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>约汇吧</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
</head>
<body>
<header>
    <div class="navbar-default navbar-static-top">
        <h3>约汇吧</h3>
    </div>
</header>
<div class="list">
    <div class="first">
        <img class="ing" src="images/list-5.png">
    </div>
</div>
<br>
<h3 style="color: #000;">撰写评论</h3>
<div class="discuss_title">
    <div class="row">
        <div class="col-md-12">
            <div class="title_teacher">

                <figure>
                    <img src="images/avatar.jpg" class="img_teacher" alt="学员头像"/>
                    <figcaption>
                        <p class="font_teacher">何蓉蓉</p>
                    </figcaption>
                </figure>
            </div>
            <div class="title_right">
                <h4 style="color: #fff">从业与创业，帮你明晰职涯规划</h4>
                <p style="color: #fff">约见满意度：<span>(轻按星形评分)</span></p>
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <textarea class="discuss" maxlength="250" placeholder="说说你对这次约见的感受吧！是否获益匪浅呢？"></textarea>
</div>

<br>
<br>
<br>

<div class="btn">
    <h3>下一步</h3>
</div>
</body>
</html>