<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>菁英俱乐部</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<header>
    <div class="navbar-default navbar-static-top">
        <h3 class="font_white">菁英俱乐部</h3>
    </div>
</header>


<div class=" ">
    <img src="images/image.jpg" style="width:100%;height: 30%;">


</div>

<div class="nav_title">
    <h4><b>菁英活动</b></h4>
</div>

<div class="list-group">
    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="art_img" style="height:100px;">
                <img src="field/职业规划.jpg" class="img_star" alt="title picture">
            </div>

            <div class="art_content">
                <div class=" ">

                    <b class="font_green">职场预演项目第一站</b>

                </div>

                <div class=" ">
                    <b class="font_tag">主题：走进广东财大学</b>

                    <p class="font_12">
                        时间：2015年10月13日
                    </p>
                    <p class="font_12">
                        组织单位：艾英领&广东财经大学联合主办
                    </p>
                    <p class="font_12">
                        主持人：何蓉蓉
                    </p>
                </div>
            </div>
        </div>
    </a>


    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="art_img" style="height:100px;">
                <img src="field/社会化媒体.jpg" class="img_star" alt="title picture">
            </div>

            <div class="art_content">
                <div class=" ">

                    <b class="font_green">职场预演项目第二站</b>

                </div>

                <div class=" ">
                    <b class="font_tag">主题：走进暨南大学</b>

                    <p class="font_12">
                        时间：2015年11月07日
                    </p>
                    <p class="font_12">
                        组织单位：艾英领&暨南联合主办
                    </p>
                    <p class="font_12">
                        主持人：何蓉蓉
                    </p>
                </div>
            </div>
        </div>
    </a>


    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="art_img" style="height:100px;">
                <img src="field/垂直领域.jpg" class="img_star" alt="title picture">
            </div>

            <div class="art_content">
                <div class=" ">

                    <b class="font_green">“英领汇”与《南都周刊》一期合作</b>

                </div>

                <div class=" ">
                    <b class="font_tag">主题：企业教练的3.0时代</b>

                    <p class="font_12">
                        时间：2015年05月24日
                    </p>
                    <p class="font_12">
                        组织单位：艾英领&南都周刊
                    </p>
                    <p class="font_12">
                        主持人：何蓉蓉
                    </p>
                </div>
            </div>
        </div>
    </a>

    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="art_img" style="height:100px;">
                <img src="field/职场技能.jpg" class="img_star" alt="title picture">
            </div>

            <div class="art_content">
                <div class=" ">

                    <b class="font_green">“英领汇”与《南都周刊》二期合作</b>

                </div>

                <div class=" ">
                    <b class="font_tag">主题：水平思考</b>

                    <p class="font_12">
                        时间：2015年08月08日
                    </p>
                    <p class="font_12">
                        组织单位：艾英领&南都周刊
                    </p>
                    <p class="font_12">
                        主持人：何蓉蓉
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>


</body>
</html>