<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>菁英课程</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>
<body>
<header>
    <div class="navbar-default navbar-static-top">
        <h3  class="font_white">领域分类</h3>
    </div>
</header>

<div class="container">
    <div class="img_container">
        <img src="field/艺术.jpg" class="img_field" alt="艺术">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">艺术</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/产品.jpg" class="img_field" alt="产品">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">产品</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/创业.jpg" class="img_field" alt="创业">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">创业</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/公益.jpg" class="img_field" alt="公益">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">公益</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/兴趣.jpg" class="img_field" alt="兴趣">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">兴趣</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/旅游.jpg" class="img_field" alt="旅游">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">旅游</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/时尚.jpg" class="img_field" alt="时尚">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">时尚</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/旅游.jpg" class="img_field" alt="旅游">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">旅游</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/生活.jpg" class="img_field" alt="生活">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">生活</h5>
        </div>
    </div>
    <div class="img_container">
        <img src="field/电商.jpg" class="img_field" alt="电商">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">电商</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/教育学习.jpg" class="img_field" alt="教育学习">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">教育学习</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/投资理财.jpg" class="img_field" alt="投资理财">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">投资理财</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/数据分析.jpg" class="img_field" alt="数据分析">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">数据分析</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/健康.jpg" class="img_field" alt="健康">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">健康</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/法律.jpg" class="img_field" alt="法律">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">法律</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/互联网.jpg" class="img_field" alt="互联网">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">互联网</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/风险投资.jpg" class="img_field" alt="风险投资">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">风险投资</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/职业规划.jpg" class="img_field" alt="职业规划">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">职业规划</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/社会化媒体.jpg" class="img_field" alt="社会化媒体">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">社会媒体</h5>
        </div>
    </div>

    <div class="img_container">
        <img src="field/职场技能.jpg" class="img_field" alt="职场技能">
        <div class="font_container">
            <h5 class="font_white" style="margin: 0;">职场技能</h5>
        </div>
    </div>






</div>
</body>
</html>