<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>约汇吧</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>
<body>
<header>
    <div class="navbar-default navbar-static-top">
        <h3  class="font_white">领域话题列表</h3>
    </div>
</header>

<div class="nav_title">
    <h4><b>创业</b></h4>
</div>

<div class="list-group" style="margin:0px 5px 0px 5px;">
    <a href="test.html" class="link_none">
        <div class="container bg-white topic_list">
            <div class="topic_list_left">
                <figure>
                    <img src="images/Audrey.png" class="img_people_yuan" alt="导师头像"/>
                    <figcaption>
                        <p class="font_img">Audrey</p>
                    </figcaption>
                </figure>
            </div>
            <div class="art_content" style="width: 64%">
                <div class=" ">
                    <b class="font_green">创业股权分析，亲兄弟如何算明账？</b>
                </div>
                <div class="box_topic">
                    <b class="font_tag" style="color: #8d8d8d">艾英领创始人，企业咨询顾问</b>
                </div>
                <div class=" ">
                    <p class="font_time" style="text-indent: 0em;margin: 0px;">
                        <span class="glyphicon glyphicon-glass"> 23人见过</span>
                    </p>
                </div>
            </div>
        </div>
    </a>

    <a href="test.html" class="link_none">
        <div class="container bg-white topic_list">
            <div class="topic_list_left">
                <figure>
                    <img src="images/Chester.png" class="img_people_yuan" alt="导师头像"/>
                    <figcaption>
                        <p class="font_img">Chester</p>
                    </figcaption>
                </figure>
            </div>
            <div class="art_content" style="width: 64%">
                <div class=" ">
                    <b class="font_green">如何取得海外市场拓展的突破？</b>
                </div>
                <div class="box_topic">
                    <b class="font_tag" style="color: #8d8d8d">天使投资人，企业咨询顾问</b>
                </div>
                <div class=" ">
                    <p class="font_time" style="text-indent: 0em;margin: 0px;">
                        <span class="glyphicon glyphicon-glass"> 15人见过</span>
                    </p>
                </div>
            </div>
        </div>
    </a>

    <a href="test.html" class="link_none">
        <div class="container bg-white topic_list">
            <div class="topic_list_left">
                <figure>
                    <img src="images/david.jpg" class="img_people_yuan" alt="导师头像"/>
                    <figcaption>
                        <p class="font_img">David</p>
                    </figcaption>
                </figure>
            </div>
            <div class="art_content" style="width: 64%">
                <div class=" ">
                    <b class="font_green">创业新手如果提高第一次创业存活率？</b>
                </div>
                <div class="box_topic">
                    <b class="font_tag" style="color: #8d8d8d">企业咨询顾问，资深技术顾问</b>
                </div>
                <div class=" ">
                    <p class="font_time" style="text-indent: 0em;margin: 0px;">
                        <span class="glyphicon glyphicon-glass"> 56人见过</span>
                    </p>
                </div>
            </div>
        </div>
    </a>

    <a href="test.html" class="link_none">
        <div class="container bg-white topic_list">
            <div class="topic_list_left">
                <figure>
                    <img src="images/avatar.jpg" class="img_people_yuan" alt="导师头像"/>
                    <figcaption>
                        <p class="font_img">Carrie</p>
                    </figcaption>
                </figure>
            </div>
            <div class="art_content" style="width: 64%">
                <div class=" ">
                    <b class="font_green">关于投资，投资人如何考察创业项目？</b>
                </div>
                <div class="box_topic">
                    <b class="font_tag" style="color: #8d8d8d">天天向上资本投资副总裁</b>
                </div>
                <div class=" ">
                    <p class="font_time" style="text-indent: 0em;margin: 0px;">
                        <span class="glyphicon glyphicon-glass"> 67人见过</span>
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>



</body>
</html>