<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>菁英课程</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <div class="navbar-default navbar-static-top">
        <select class="selecter select_list">
            <option value="互联网营销" style="font-size: 16px;font-weight: bold">互联网营销</option>
            <option value="金融投资">金融投资</option>
            <option value="Android开发">Android开发</option>
            <option value="软件工程师">软件工程师</option>
        </select>
    </div>
</header>


<div class="list-group">
    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="img_content" >
                <img src="images/Chester.png" class="img_person" alt="title picture">
            </div>

            <div class="list_right">

                <div class=" ">
                    <b class="font_tag" style="font-size: 14px">艾英领销售总监：回到...</b>

                    <p class="font_article" style="margin: 0px;font-size: 12px">产品是否有机会达到千万量级，需要具备哪些条件？
                    </p>
                </div>


                <div style="margin-top: 3px;font-size: 13px">
                    <span class="glyphicon glyphicon-user" style="color:#66d6a6" aria-hidden="true"></span>
                    <b class="font_green">何蓉蓉 艾英领 销售总监</b>

            </div>
            </div>
        </div>
    </a>
    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="img_content" >
                <img src="images/Audrey.png" class="img_person" alt="title picture">
            </div>

            <div class="list_right">

                <div class=" ">
                    <b class="font_tag" style="font-size: 14px">艾英领销售总监：回到...</b>

                    <p class="font_article" style="margin: 0px;font-size: 12px">产品是否有机会达到千万量级，需要具备哪些条件？
                    </p>
                </div>


                <div style="margin-top: 3px;font-size: 13px">
                    <span class="glyphicon glyphicon-user" style="color:#66d6a6" aria-hidden="true"></span>
                    <b class="font_green">何蓉蓉 艾英领 销售总监</b>

            </div>
            </div>
        </div>
    </a>
    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="img_content" >
                <img src="images/Lucia.png" class="img_person" alt="title picture">
            </div>
            <div class="list_right">
                <div class=" ">
                    <b class="font_tag" style="font-size: 14px">艾英领销售总监：回到...</b>
                    <p class="font_article" style="margin: 0px;font-size: 12px">产品是否有机会达到千万量级，需要具备哪些条件？
                    </p>
                </div>
                <div style="margin-top: 3px;font-size: 13px">
                    <span class="glyphicon glyphicon-user" style="color:#66d6a6" aria-hidden="true"></span>
                    <b class="font_green">何蓉蓉 艾英领 销售总监</b>
            </div>
            </div>
        </div>
    </a>


</div>

</body>
</html>