<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="Aleadin icon" href="images/icon-title.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>大咖课堂</title>
</head>
<body>
<header class="header bg_header">
    <div class="header_page">
        <div class="container">
            <h3 align="center">我要报名</h3>
        </div>
    </div>
</header>


<div class="container">
    <form action=" " method="get" name="register">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            <input type="tel" class="form-control" id="username" placeholder="账号">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-usd"></span>
            <input type="text" class="form-control" id="password" placeholder="支付金额">
        </div>
        <br>

        <button type="submit" class="btn btn-info">支付</button>
        <br>
        <br>
    </form>
</div>

</body>
</html>