<div>
<header>
    <div class="navbar-default navbar-static-top">
        <h3  class="font_white">用户登录</h3>
    </div>
</header>
</div>
<br></br>
<div class="container">
    <div class="introduce">
        <p class="font_12">
            英领汇”是由广州市艾英领企业管理咨询有限公司，倾力打造的企业家、创业成功人士、企业高管等高端人士聚会与分享的平台。
        </p>
    </div>

        <br></br>
        <div class="container">
            <form action=" " method="get" name="register">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    <input type="tel" class="form-control" id="username" placeholder="手机号"></input>
                </div>
                <br></br>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                    <input type="password" class="form-control" id="password" placeholder="密码"></input>
                </div>
                <br></br>

                <button type="submit" class="btn btn-info">登录</button>
                <br></br>
                <br></br>

                <div class="button">
                    <div class="accept"><a class="link" href="register.html">注册</a></div>
                    <div class="reject"><a class="link" href="test.html">忘记密码</a></div>
                </div>
            </form>
        </div>
    </div>