<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,user-scalable=no" />
<title>约汇吧</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/datebar.css" rel="stylesheet">
<link rel="Aleadin icon" href="images/icon-title.png">
<script type="text/javascript" src="css/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<div class="navbar-default navbar-static-top">
			<h3 class="font_white">我的订单</h3>
		</div>
	</header>
	<ul id="stuTab" class="nav navbar-inverse nav-tabs">
		<li class="active"><a href="#all" data-toggle="tab"
			class="order">待约见</a></li>
		<li><a href="#pay" data-toggle="tab" class="order">待支付</a></li>
		<li><a href="#sow" data-toggle="tab" class="order">已约见</a></li>
	</ul>

	<div id="stuTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="all">
			<div class="date_list" >
				<div class="row">
					<div class="col-md-12 ">
						<div class="order_title">
							<img src="images/avatar.jpg" class="order_img" alt="学员头像"/>

							<p class="font_people">与叶俊堂约见</p>

							<p class="font_time">2015-10-4 14:29</p>

						</div>
						<div class="item_state bg_btn">
							<p>学员付款</p>
						</div>
					</div>
				</div>
			</div>

			<div class="date_list" >
				<div class="row">
					<div class="col-md-12 ">
						<div class="order_title">
							<img src="images/avatar.jpg" class="order_img" alt="学员头像"/>

							<p class="font_people">与叶俊堂约见</p>

							<p class="font_time">2015-10-4 14:29</p>

						</div>
						<div class="item_state bg_btn">
							<p>等待约见</p>
						</div>
					</div>
				</div>
			</div>

			<div class="date_list" >
				<div class="row">
					<div class="col-md-12 ">
						<div class="order_title">
							<img src="images/avatar.jpg" class="order_img" alt="学员头像"/>

							<p class="font_people">与叶俊堂约见</p>

							<p class="font_time">2015-10-4 14:29</p>

						</div>
						<div class="item_state bg_btn">
							<p>学员评价</p>
						</div>
					</div>
				</div>
			</div>
		</div>




		<div class="tab-pane fade" id="pay">
			<div class="date_list" >
				<div class="row">
					<div class="col-md-12 ">
						<div class="order_title">
							<img src="images/avatar.jpg" class="order_img" alt="学员头像"/>

							<p class="font_people">与叶俊堂约见</p>

							<p class="font_time">2015-10-4 14:29</p>

						</div>
						<div class="item_state bg_btn">
							<p>查看</p>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="tab-pane fade" id="sow">
			<div class="date_list" >
				<div class="row">
					<div class="col-md-12 ">
						<div class="order_title">
							<img src="images/avatar.jpg" class="order_img" alt="学员头像"/>
							<p class="font_people">与叶俊堂约见</p>
							<p class="font_time">2015-10-4 14:29</p>
						</div>
						<div class="item_state bg_btn">
							<p>评价</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>