<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>约汇吧</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <div class="navbar-default navbar-static-top">
        <h3>约汇吧</h3>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <br>
        <div class="container">
            <h4 style="color: #000;text-align: center">用户注册</h4>
            <div class="input-group ">
                <input type="text" class="form-control" placeholder="手机号码">
                <span class="input-group-addon">发送验证码</span>
            </div>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" id="code" placeholder="验证码">
            </div>
            <form action=" " method="get" name="register">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="用户名">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="密码">
                </div>

                <button type="submit" class="btn btn-info">提交</button>

            </form>
        </div>
    </div>


</div>

</body>
</html>