<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>菁英课程</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>
<body>
<header>
    <div class="navbar-default navbar-static-top">
        <h3  class="font_white">菁英课程</h3>
    </div>
</header>

<div class="container">
    <form action=" ">
        <div class=" ">
            <input type="search" class="ipt-search-box" id="search" placeholder="Search...">
        </div>
    </form>
</div>

<div class="list-group">
    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="art_img" style="height:100px;">
                <img src="images/Chester.png" class="img_star" alt="title picture">
            </div>

            <div class="art_content">
                <div class=" ">
                    <span class="glyphicon glyphicon-user" style="color:#66d6a6" aria-hidden="true"></span>
                    <b class="font_green">何蓉蓉 艾英领 销售总监</b>

                </div>

                <div class=" ">
                    <b class="font_tag">艾英领销售总监：回到...</b>

                    <p class="font_article" style="margin: 0px;font-size: 12px">产品是否有机会达到千万量级，需要具备哪些条件？
                    </p>
                </div>

                <div class=" ">
                    <p class="font_time" style="text-indent: 0em;margin: 0px;">2015-12-19 开课</p>
                </div>
            </div>
        </div>
    </a>

    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="art_img" style="height:100px;">
                <img src="images/Audrey.png" class="img_star" alt="title picture">
            </div>

            <div class="art_content">
                <div class=" ">
                    <span class="glyphicon glyphicon-user" style="color:#66d6a6" aria-hidden="true"></span>
                    <b class="font_green">何蓉蓉 艾英领 销售总监</b>

                </div>

                <div class=" ">
                    <b class="font_tag">艾英领销售总监：回到...</b>

                    <p class="font_article" style="margin: 0px;font-size: 12px">产品是否有机会达到千万量级，需要具备哪些条件？
                    </p>
                </div>

                <div class=" ">
                    <p class="font_time" style="text-indent: 0em;margin: 0px;">2015-12-19 开课</p>
                </div>
            </div>
        </div>
    </a>

    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="art_img" style="height:100px;">
                <img src="images/Sophie.png" class="img_star" alt="title picture">
            </div>

            <div class="art_content">
                <div class=" ">
                    <span class="glyphicon glyphicon-user" style="color:#66d6a6" aria-hidden="true"></span>
                    <b class="font_green">何蓉蓉 艾英领 销售总监</b>

                </div>

                <div class=" ">
                    <b class="font_tag">艾英领销售总监：回到...</b>

                    <p class="font_article" style="margin: 0px;font-size: 12px">产品是否有机会达到千万量级，需要具备哪些条件？
                    </p>
                </div>
                <div class=" ">
                    <p class="font_time" style="text-indent: 0em;margin: 0px;">2015-12-19 开课</p>
                </div>
            </div>
        </div>
    </a>
</div>




</body>
</html>