<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>大咖课程</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<!--
<header>
    <div class="navbar-default navbar-static-top">
        <h3 class="font_white">大咖课程</h3>
    </div>
</header>
-->


<div id="aleadin-Carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#aleadin-Carousel" data-slide-to="0" class="active"></li>
        <li data-target="#aleadin-Carousel" data-slide-to="1"></li>
        <li data-target="#aleadin-Carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" align="center">
        <div class="item active">
            <a href=" ">
                <img src="images/a.jpg" class="img_slide" alt="First slide image"/>
            </a>
        </div>
        <div class="item">
            <a href=" ">
                <img class="img_slide" src="images/b.jpg" alt="Second slide image"/>
            </a>
        </div>
        <div class="item">
            <a href=" ">
                <img class="img_slide" src="images/c.jpg" alt="Third slide image"/>
            </a>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#aleadin-Carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#aleadin-Carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="nav_title">
    <h4><b>课程列表</b></h4>
</div>

<div class="list-group">


    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="art_img" style="height:100px;">
                <img src="images/Chester.png" class="img_star" alt="title picture">
            </div>

            <div class="art_content">
                <div class=" ">
                    <span class="glyphicon glyphicon-user" style="color:#66d6a6" aria-hidden="true"></span>
                    <b class="font_green">何蓉蓉 艾英领 销售总监</b>

                </div>

                <div class=" ">
                    <b class="font_tag">艾英领销售总监：回到...</b>

                    <p class="font_article" style="margin: 0px;font-size: 12px">产品是否有机会达到千万量级，需要具备哪些条件？
                    </p>
                </div>

                <div class=" ">
                    <p class="font_time" style="text-indent: 0em;margin: 0px;">2015-12-19 开课</p>
                </div>
            </div>
        </div>
    </a>


    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="art_img" style="height:100px;">
                <img src="images/Audrey.png" class="img_star" alt="title picture">
            </div>

            <div class="art_content">
                <div class=" ">
                    <span class="glyphicon glyphicon-user" style="color:#66d6a6" aria-hidden="true"></span>
                    <b class="font_green">何蓉蓉 艾英领 销售总监</b>

                </div>

                <div class=" ">
                    <b class="font_tag">艾英领销售总监：回到...</b>

                    <p class="font_article" style="margin: 0px;font-size: 12px">产品是否有机会达到千万量级，需要具备哪些条件？
                    </p>
                </div>

                <div class=" ">
                    <p class="font_time" style="text-indent: 0em;margin: 0px;">2015-12-19 开课</p>
                </div>
            </div>
        </div>
    </a>


    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="art_img" style="height:100px;">
                <img src="images/Sophie.png" class="img_star" alt="title picture">
            </div>

            <div class="art_content">
                <div class=" ">
                    <span class="glyphicon glyphicon-user" style="color:#66d6a6" aria-hidden="true"></span>
                    <b class="font_green">何蓉蓉 艾英领 销售总监</b>

                </div>

                <div class=" ">
                    <b class="font_tag">艾英领销售总监：回到...</b>

                    <p class="font_article" style="margin: 0px;font-size: 12px">产品是否有机会达到千万量级，需要具备哪些条件？
                    </p>
                </div>
                <div class=" ">
                    <p class="font_time" style="text-indent: 0em;margin: 0px;">2015-12-19 开课</p>
                </div>
            </div>
        </div>
    </a>


</div>


</body>
</html>