<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="Aleadin icon" href="images/icon-title.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>人气文章</title>
</head>
<body>

<ul class="list-group">
    <li class="list-group-item">
        <a href="article.html" class="link_none">
            <div class="row">
                <div class="col-md-12">
                    <div class="art_img">
                        <img src="images/a.jpg" class="img_article" alt="title picture">
                    </div>

                    <div class="art_content ">
                        <div class="font_article">
                            <h5><b>互联网时代下的商家</b></h5>
                        </div>
                        <div class="acticle_tag acticle_tag_purple">
                            <p class="font_tag">创业经验</p>
                        </div>
                        <div class="article_date">
                            <p>2015.09.19</p>
                        </div>
                    </div>

                </div>
            </div>
        </a>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-12">
                <div class="art_img">
                    <img src="images/b.jpg" class="img_article" alt="title picture">
                </div>
                <div class="art_content ">
                    <div class="font_article">
                        <h5><b>电商思维，传统的销售已经过时了</b></h5>
                    </div>
                    <div class="acticle_tag acticle_tag_blue">
                        <p class="font_tag">大牛经验</p>
                    </div>
                    <div class="article_date">
                        <p>2015.09.19</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-12">
                <div class="art_img">
                    <img src="images/f.jpg" class="img_article" alt="title picture">
                </div>
                <div class="art_content ">
                    <div class="font_article">
                        <h5><b>易赞CEO：后自媒体时代的趋势和机会</b></h5>
                    </div>
                    <div class="acticle_tag acticle_tag_yellow">
                        <p class="font_tag">产品经理</p>
                    </div>
                    <div class="article_date">
                        <p>2015.09.19</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">

        <div class="row">
            <div class="col-md-12">
                <div class="art_img">
                    <img src="images/c.jpg" class="img_article" alt="title picture">
                </div>
                <div class="art_content ">
                    <div class="font_article">
                        <h5><b>做好自己的品牌，不是光靠外表那么简单！</b></h5>
                    </div>
                    <div class="acticle_tag acticle_tag_purple">
                        <p class="font_tag">创业经验</p>
                    </div>
                    <div class="article_date">
                        <p>2015.09.19</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

</body>
</html>