<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <title>解读产品工作三大误区，教你做一个赚钱的产品</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datebar.css" rel="stylesheet">
    <link rel="Aleadin icon" href="images/icon-title.png">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<div class=" ">
    <img src="images/image.jpg" class="img_haibao">
</div>

<div class="section" style="margin: 0">
    <div class="list_div">
        <h5 ><b>解读产品工作三大误区，教你做一个赚钱的产品</b></h5>
    </div>
</div>

<div class="section">
    <div class="list_div">
        <div class="list_div_title">
            <h5><b>开课时间</b></h5>
        </div>
    </div>
    <div class="list_div_content">
        <p class="font_12">
            2015-12-12
        </p>
    </div>
</div>

<div class="section">
    <div class="list_div">
        <div class="list_div_title">
            <h5><b>课程介绍</b></h5>
        </div>
    </div>
    <div class="list_div_content">
        <p class="font_12">
            下载量高，用户数多，就一定是成功的产品吗？
            最好的产品有哪些判定标准？产品经理如何用最小的成本试错呢？
            前微软资深产品经理彭圣才会教你避免产品工作的误区，做一个超赚钱的产品...
        </p>
    </div>
</div>

<div class="section">
    <div class="list_div">
        <div class="list_div_title">
            <h5><b>导师介绍</b></h5>
        </div>
    </div>
    <div class="list_div_content">
        <div class="list_div">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="imgs">

                        <img class="img-teacher" src="images/avatar.jpg" alt="导师照片">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="center">
                        <b class="font_content">何蓉蓉</b><br>

                        <b class="font_content">艾英领咨询创始人</b><br>

                        <b class="font_content">万宝盛华前部门经理</b>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <p class="font_12">
            下载量高，用户数多，就一定是成功的产品吗？
            最好的产品有哪些判定标准？产品经理如何用最小的成本试错呢？
            前微软资深产品经理彭圣才会教你避免产品工作的误区，做一个超赚钱的产品...
        </p>
    </div>
</div>

<div class="section">
    <div class="list_div">
        <div class="list_div_title">
            <h5><b>评论</b></h5>
        </div>
    </div>


        <div class="person_list" >
            <div class="person_list_left">

                <img src="images/avatar.jpg" style="margin-top: 10px" alt="头像" class="img_comment">
            </div>
            <div class="person_list_right">
                <div class="asd">
                    <p class="font_12" style="margin: 5px;"><b>木子流行0241</b></p>

                    <p class="font_12" style="margin: 5px;">p2p行业营销在品牌扩散不够，经费预算不足的前提下，如何形成病毒性传播</p>
                </div>

                <span class="font_time" style="margin-left: 5px;">08-25 18:13</span>
        <span class="font_green " style="font-weight: bold;float:right;">回复 |
        <span class="glyphicon glyphicon-thumbs-up" >80</span></span>
            </div>
        </div>

    <div class="person_list" >
        <div class="person_list_left">

            <img src="images/avatar.jpg" style="margin-top: 10px" alt="头像" class="img_comment">
        </div>
        <div class="person_list_right">
            <div class="asd">
                <p class="font_12" style="margin: 5px;"><b>木子流行0241</b></p>

                <p class="font_12" style="margin: 5px;">p2p行业营销在品牌扩散不够，经费预算不足的前提下，如何形成病毒性传播</p>
            </div>

            <span class="font_time" style="margin-left: 5px;">08-25 18:13</span>
        <span class="font_green " style="font-weight: bold;float:right;">回复 |
        <span class="glyphicon glyphicon-thumbs-up" >80</span></span>
        </div>
    </div>


</div>



<div class="section">
    <div class="list_div">
        <div class="list_div_title">
            <h5><b>相关课程</b></h5>
        </div>
    </div>

        <a href="test.html" class="link_none"  >
            <div class="container bg-white" style="margin-top: 5px">
                <div class="img_content" >
                    <img src="images/Audrey.png" class="img_person" alt="title picture">
                </div>

                <div class="list_right">

                    <div class=" ">
                        <b class="font_tag" style="font-size: 14px">艾英领销售总监：回到...</b>

                        <p class="font_article" style="margin: 0px;font-size: 12px">产品是否有机会达到千万量级，需要具备哪些条件？
                        </p>
                    </div>


                    <div style="margin-top: 3px;font-size: 13px">
                        <span class="glyphicon glyphicon-user" style="color:#66d6a6" aria-hidden="true"></span>
                        <b class="font_green">何蓉蓉 艾英领 销售总监</b>

                    </div>
                </div>
            </div>
        </a>

    <a href="test.html" class="link_none">
        <div class="container bg-white" style="margin-top: 5px">
            <div class="img_content" >
                <img src="images/Audrey.png" class="img_person" alt="title picture">
            </div>

            <div class="list_right">

                <div class=" ">
                    <b class="font_tag" style="font-size: 14px">艾英领销售总监：回到...</b>

                    <p class="font_article" style="margin: 0px;font-size: 12px">产品是否有机会达到千万量级，需要具备哪些条件？
                    </p>
                </div>


                <div style="margin-top: 3px;font-size: 13px">
                    <span class="glyphicon glyphicon-user" style="color:#66d6a6" aria-hidden="true"></span>
                    <b class="font_green">何蓉蓉 艾英领 销售总监</b>

                </div>
            </div>
        </div>
    </a>

</div>

</body>
</html>